backend.honeycomb.teamofsilicons.com {
  handle_path /web/library/* {
    reverse_proxy library:4173
  }
  handle_path /web/console/* {
    reverse_proxy console:4173
  }
  handle {
    reverse_proxy backend:8080
  }
}
